body {
    margin: 0;
    padding: 0;
    background: #101010;
}

.carousel {
    height: 1000px;
    perspective: 1000px;
    margin-top: -300px;
}

.carousel-item {
    width: 280px;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 0 0 50px 50px;
}

h3 {
    color: #fff;
    font-size: 2rem;
}

p {
    color: #fff;
    font-size: 1rem;
}